#imgtitle{max-width:100%;padding-bottom:5px}#Links,#Twitter{float:left;display:inline}#Facebook{border:0;overflow:hidden}#Main{padding-top:30px}
@media all and (min-width: 641px) { #Facebook{height:80px;width:450px;}#Links{width: 45%;min-height:250px}#Twitter{width: 55%;}}
@media only screen and (max-width: 640px) {#Facebook{height:100px;width:300px;}#Links{ width: 39%;min-height: 250px}#Twitter{ width: 61%;}}
